{namespace g=Blog\Golb\ViewHelpers}


<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:g="http://xsd.marcel-wieser.de/ns/Blog/Golb/ViewHelpers/index.xml">
<f:layout name="Default"/>

<f:section name="Main">

	<div class="container-fluid">
		<div class="row">
			<div id="Blog" class="col-md-12">
				<f:if condition="{filter}">
					<h2>{filter}</h2>
				</f:if>
				<ul>
					<g:paginate objects="{posts}" as="paginatedPosts"  configuration="{itemsPerPage: '{settings.pagination.itemsPerPage}', insertAbove: '{settings.pagination.insertAbove}', insertBelow:'{settings.pagination.insertBelow}', maximumNumberOfLinks: '{settings.pagination.maximumNumberOfLinks}'}">
						<f:for each="{paginatedPosts}" as="post">
							<li class="item">
								<ul>
									<li>
										<br/>
										<f:for each="{post.ttContents}" as="content">
											<f:format.html>
												<f:format.crop maxCharacters="200">{content.bodytext}</f:format.crop>
											</f:format.html>
										</f:for>
										<f:link.page pageUid="{post.uid}"><span class="more">[mehr..]</span>
										</f:link.page>
									<f:if condition="{post.tags}">
											<ul class="blogTags">
												<f:for each="{post.tags}" as="tag">
													<li>
														<f:link.page pageUid="{settings.filterPid}"
																	 additionalParams="{tagUid:'{tag.uid}', tagTitle:'{tag.title}'}">{tag.title}
														</f:link.page>
													</li>
												</f:for>
											</ul>
										</f:if>
										<f:if condition="{post.categories}">
											<ul class="blogCategories">
												<f:for each="{post.categories}" as="category">
													<li>
														<f:link.page pageUid="{settings.filterPid}"
																	 additionalParams="{categoryUid:'{category.uid}', categoryTitle:'{category.title}'}">
															{category.title}
														</f:link.page>
														<f:if condition="{category.subCategories}">
															<ul>
																<f:for each="{category.subCategories}" as="subCategory">
																	<li>
																		<f:link.page pageUid="{settings.filterPid}"

																					 additionalParams="{categoryUid:'{subCategory.uid}'}">
																			{subCategory.title}
																		</f:link.page>
																	</li>
																</f:for>
															</ul>
														</f:if>
													</li>
												</f:for>
											</ul>
										</f:if>
									</li>
								</ul>
						</f:for>
					</g:paginate>
				</ul>
			</div>
		</div>
	</div>
</f:section>
</html>