{namespace g=Blog\Golb\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:g="http://xsd.marcel-wieser.de/ns/Blog/Golb/ViewHelpers/index.xml">
<f:layout name="Default"/>

<f:section name="Main">

	<div class="container-fluid">
		<div class="row">
			<div id="Blog" class="col-md-12">
				<h2>Aktuelle Beiträge</h2>
				<ul>
					<g:paginate objects="{posts}"
								as="paginatedPosts"
								configuration="{itemsPerPage: 2, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
						<f:for each="{paginatedPosts}" as="post">

							<li class="item">
								<ul>
									<li>
										<f:debug>{post.ttContents}</f:debug>
										<br />
										<f:for each="{post.ttContents}" as="content">
											<f:format.html><f:format.crop maxCharacters="200">{content.bodytext}</f:format.crop></f:format.html>
										</f:for>

										<f:link.page pageUid="{post.uid}"><span class="more">[mehr..]</span></f:link.page>
										<g:page.keywords pagePid="{post.ttContents.0.pid}"></g:page.keywords>
								</ul>
							</li>
						</f:for>
					</g:paginate>
				</ul>
			</div>
		</div>
</f:section>
</html>